<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Sécurité de Fonctionnement et reprises</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <style background-image="../static/images/chat-home.png">

    </style>


</head>

<body>

    <header>

        <nav class="navbar">
            <a href="/">Acceuil</a>
            <a class="nav-link" href="about.html">À propos de nous</a>

        </nav>

    </header>

    <section class="home" id="home">

        <div id="particles-js">
            <h2 class="custom-title">À propos de nous </h2>

            <div class="about">

                Bienvenue sur notre plateforme de chatbot dédiée à offrir une expérience utilisateur exceptionnelle tout
                en garantissant la sécurité et la continuité de service. Notre équipe, dirigée par Saadia et Hund et
                encadrée par Madame Bouzaachane, est passionnée par l'innovation et l'excellence opérationnelle.

            </div>
            <h2 class="custom-title">Notre Mission </h2>

            <div class="about">

            Notre mission est de révolutionner la manière dont les utilisateurs interagissent avec la technologie en
            offrant des chatbots intelligents et sécurisés. Nous nous engageons à fournir des solutions de pointe tout
            en garantissant une expérience utilisateur fluide et sécurisée.

            </div>

        </div>

    </section>

    <!-- <div class="footer"> Créé par <span> AIT ALI MHAMED SAADIA </span> et <span> AIT TALEB HIND </span> </div> -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='particles.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='particlesJS.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

    </div>
</body>

</html>