<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Sécurité de Fonctionnement et reprises</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style background-image="../static/images/chat-home.png">
          
    </style>
    

</head>
<body>
<header>
    <div class="chat-container">
    <a id="menu-bars" class="fas fa-users" href="/about" ></a>



</header>

<section class="home" id="home">

    <div id="particles-js"></div>

    <h2 class="custom-title"></h2>
        <div class="chatbox" id="monChatbot">
            <div class="chatbox__support">
                <div class="chatbox__header">
        
                    <div class="chatbox__content--header">
                        <h1>.</h1>
                        <div class="language">
                            <select id="language-select" onchange="chatbox.changeLanguage()" class="language-select">
                                <option value="fr">Français</option>
                                <option value="nl">Dutch</option>
                                <option value="en">English</option>
                            </select>
                        </div>
                        <h6 class="chatbox__heading--header">Sécurité de Fonctionnement et reprises
                        </h6>
                        <br>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div>
                        <div class="messages__item messages__item--visitor">Salut 👋👋,Comment puis-je vous aider?</div>
                    </div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Entrer un message..." id="userField">
                    <button class="chatbox__send--footer audio__button" onclick="toggleRecording()">
                        <div id="recordingIcon" class="icon-chat fas fa-microphone"></div>
                    </button>                      
                    <button class="chatbox__send--footer send__button"><div class="icon-chat fas fa-paper-plane"></div></button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><div class="icon fas fa-comments"></div></button>
            </div>
        </div>

</section>

<!-- <div class="footer"> Créé par <span> AIT ALI MHAMED SAADIA </span> et <span> AIT TALEB HIND </span> </div> -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='particles.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='particlesJS.js') }}"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

<script>

let menu = document.querySelector('#menu-bars');
let header = document.querySelector('header');
function toggleMenu() {
      var navbar = document.getElementById("navbar");
      navbar.classList.toggle("show-menu");
    }

function toggleRecording() {
  const recordingIcon = document.getElementById('recordingIcon');

  // Vérifier si l'icône est en mode enregistrement ou non
  const isRecording = recordingIcon.classList.contains('fa-microphone');

  if (isRecording) {
    // Si l'icône est en mode microphone, passez à l'icône d'enregistrement
    recordingIcon.classList.remove('fa-microphone');
    recordingIcon.classList.add('fa-stop-circle');
    // Ajoutez ici la logique pour commencer l'enregistrement
    // startRecording();
  } else {
    recordingIcon.classList.remove('fa-stop-circle');
    recordingIcon.classList.add('fa-microphone');
  }
}


menu.onclick = () =>{
    menu.classList.toggle('fa-times');
    header.classList.toggle('active');
}

window.onscroll = () =>{
    menu.classList.remove('fa-times');
    header.classList.remove('active');
};

var typed = new Typed('.typing-text', {
    strings : ['Encadré par Mme BOUZAACHANE', ''],
    loop : true,
    typeSpeed : 150
});

VanillaTilt.init(document.querySelectorAll('.tilt'),{
    max:25
});

var chat = document.getElementById('chat');
   chat.scrollTop = chat.scrollHeight - chat.clientHeight;

</script>
</div>
</body>
</html>